{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('patient_create') }}">Create new patient</a><br><br>

                {% if patients %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full name</th>
                        <th>Phone</th>
                        <th colspan="3">Functions</th>
                    </tr>
                    </thead>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.id }}</td>
                            <td>{{ patient.fullName }}</td>
                            <td>{{ patient.getPhone }}</td>
                            {% if app.user.isDentist() or app.user.isAdmin() %}
                            <td><a class="btn btn-default btn-xs" href="{{ path('patient_profile',{'id':patient.id}) }}">View</a></td>
                            {% endif %}
                            <td><a class="btn btn-success btn-xs" href="{{ path('patient_edit',{'id':patient.id}) }}">Edit</a></td>
                            <td><a class="btn btn-danger btn-xs" href="{{ path('patient_delete',{'id':patient.id}) }}">Delete</a></td>
                            {#<td><a class="btn btn-danger btn-xs" href="{{ path('user_delete',{'id':patient.id}) }}">Add Manipulation</a></td>#}
                        </tr>
                    {% endfor %}
                </table>
                {% if maxPages > 1 %}
                    <ul class="pagination pagination-sm">
                        {# `«` arrow  #}
                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('patient_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                        </li>

                        {# Render each page number #}
                        {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' }}>
                                <a href="{{ path('patient_index', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {# `»` arrow #}
                        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path('patient_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="row">
                <p>Empty list</p>
            </div>
        {% endif %}
    </div>

{% endblock %}


