{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <a href="{{ path('user_register') }}">Create new user</a><br><br>
        <div class="row">
            <div class="col-md-6">
        {% if app.user %}
            <table border="solid black">
                <tr>
                    <th>Id</th>
                    <th>Full name</th>
                    <th>Sum</th>
                    <th>Profile</th>
                    <th colspan="2">Functions</th>
                </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>Sum</td>
                    <td><a class="btn btn-default btn-xs" href="{{ path('user_profile',{'id':user.id}) }}">View</a></td>
                    <td><a class="btn btn-success btn-xs" href="{{ path('user_edit',{'id':user.id}) }}">Edit</a></td>
                    <td><a class="btn btn-danger btn-xs" href="{{ path('user_delete',{'id':user.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6">
                <h1>Good morning fellow workers!</h1>
                <img src="{{ asset('uploads/coffee.jpg') }}" width="500" height="400" alt="Coffee">
            </div>
            <div class="col-md-6">
                <br><br><br>
                <p>I wish all of your patients to come out of the clinic like this:</p><br>
                <img src="{{ asset('uploads/smile.jpg') }}" width="500" height="400" alt="Smile">
            </div>

        </div>
        {% endif %}
    </div>

{% endblock %}
