{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert alert-danger">
            <h2>{{ msg }}</h2>
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">

                {% if app.user %}

                    <div class="row">
                        <div class="col-md-6">
                            <h1>Good morning colleagues!</h1>
                            <img src="{{ asset('uploads/coffee.jpg') }}" width="400" height="300" alt="Coffee">
                        </div>

                        <div class="col-md-6">
                            <br><br><br>
                            <p>I wish all of your patients to come out of the clinic like this:</p><br>
                            <img src="{{ asset('uploads/smile.jpg') }}" width="400" height="300" alt="Smile">
                        </div>
                    </div>

                {% else %}
                    <h1>See where to find us:</h1>
                    <div class="col-md-6">
                        <form action="" method="post">
                            <select name="filter">
                                <option></option>
                                {% for clone in branch %}
                                    <option>{{ clone.name }}</option>
                                {% endfor %} }}
                            </select>
                            <button type="submit" class="btn btn-default">search</button>
                            <br>
                        </form>
                    </div>
                    <div class="col-lg-6" >
                        {% for clone in branch %}
                        {{ clone.name }} :
                        City: {{ clone.city }},
                        Address: {{ clone.address }},
                        Phone: {{ clone.phone }}
                            <br>
                        {% endfor %}
                    </div>
                    <h1>Welcome! For your health care our team:</h1>
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Clinic</th>
                            <th>Profile</th>
                        </tr>
                        </thead>
                        {% for oneUser in users %}
                            <tr>
                                <td>{{ oneUser.fullName }}</td>
                                <td>{{ oneUser.clinic.name }}</td>
                                <td>
                                    {% if oneUser.photo!= null %}
                                        <img src="{{ asset('uploads/users/' ~ oneUser.photo) }}" width="100" height="70">
                                    {% else %}
                                        <p>No photo</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
