{% extends 'base.html.twig' %}

{#{% block body_id 'user_edit' %}#}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('user_edit', {id:user.id}) }}" method="post">
                <fieldset>
                    <legend>Edit User</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_username">Username</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_username" placeholder="Username"
                                   name="user[username]" value="{{ user.username }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password"
                                   placeholder="Password" name="user[password]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fullName">Full Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_fullName"
                                   placeholder="Full Name" name="user[fullName]" value="{{ user.fullName }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_photo">Photo</label>
                        <div class="col-sm-4 ">
                            <input type="file" accept=".jpg, .png" class="form-control" id="user_photo"
                                   placeholder="User Photo" name="user[photo]">
                        </div>
                    </div>
                    {#<div class="form-group">#}
                        {#<label class="col-sm-4 control-label" for="user_role">Role</label>#}
                        {#<div class="col-sm-4 " >#}
                            {#<select name="role"  required >#}
                                {#<option></option>#}
                                {#{% for role in roles %}#}
                                    {#<option>{{ role.name }}</option>#}
                                {#{% endfor %} }}#}
                            {#</select>#}
                        {#</div>#}
                    {#</div>#}
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_clinic">Clinic</label>
                        <div class="col-sm-4 ">
                            <select name="clinic" required>
                                <option></option>
                                {% for clinic in clinics %}
                                    <option>{{ clinic.name }}</option>
                                {% endfor %} }}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('user_profile', {id: user.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>

                    {{  form_row(form._token) }}

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

