{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <header>
                <h1>It is {{ user.fullName }} profile! </h1>
            </header>
        </div>
        <div  class="col-md-6">
            <h3>Earnings:{{ sum }}</h3>
            <h3> Branch: {{ user.clinic.name }}</h3>
        </div>
            <div class="col-md-6">
                {% if user.photo!=null %}
                    <img src="{{ asset('uploads/users/' ~ user.photo) }}" width="300" height="200">
                {% else %}
                    <p>No photo</p>
                {% endif %}
            </div>
    <br>
    <hr>
    {% if user.id == app.user.id %}
            <div class="col-md-4">
                <a class="btn-success" href="{{ path('order_create') }}">Create Order</a>
                <a class="btn-success" href="{{ path('order_view_my', {id:user.id}) }}">View My Orders</a>
            </div>

    {% endif %}
            <hr>
    <div class="col-md-12">
            <form method="post">
                View visits
                From: &nbsp;<input type="date" name="start">  &nbsp;&nbsp;
                To: &nbsp; <input type="date" name="end">&nbsp;&nbsp;
                <input type="submit"><br>
            </form>
        </div>
<hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Treatments</th>
                    <th>note</th>
                    <th>Patient</th>
                    {% if app.user.isDentist() or app.user.isAdmin() or app.user.isReceptionist() %}
                    <th>Patient profile</th>
                    {% endif %}
                </tr>
                </thead>
                {% for manipulation in visits %}
                    <tr>
                        <td>{{ manipulation.date|date("d.m.Y g:ia") }}</td>
                        <td>{{ manipulation.Manipulations|join(",") }}</td>
                        <td>{{ manipulation.note }}</td>
                        <td>{{ manipulation.patient.FullName }}</td>
                        {% if app.user.isDentist() or app.user.isAdmin() or app.user.isReceptionist() %}
                        <td><a href="{{ path('patient_profile', {'id':manipulation.patient.id}) }}">Patient profile</a></td>
                        {% endif %}
                    </tr>
                {% else %}
                    <p>
                        No visits
                    </p>
                {% endfor %}
            </table>

            <footer>
            </footer>
        </div>
    </div>
{% endblock %}

